.character {
    position: relative;
    height: 650px;
}

.character img {
    height: 500px;
    object-fit: cover;
}

.details-btn {
    background-color: #1c5e20;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 10px 20px;
}

.details-btn:focus {
    background-color: #154717;
}

.details-btn:hover {
    background-color: #347737;
}